{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tabWidth": 2,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "importOrder": [
    "^@views/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@layouts/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^@types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
