{
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tabWidth": 2,
  "bracketSameLine": false,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "none",
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@views/(.*)$",
    "^@components/(.*)$",
    "^@utils/(.*)$",
    "^@hooks/(.*)$",
    "^@layouts/(.*)$",
    "^@assets/(.*)$",
    "^@styles/(.*)$",
    "^@types/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true,
  "importOrderSortSpecifiers": true
}
